@import "variables";

*
{
  transition: all 1s ease !important;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: $primary-font;
  background-image: url("../images/bg.svg");
  background-color: var(--bg-color) !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
